body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  position: relative; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  width: 100%;
}

.App-header button {
  color: #43A6C6;
  background: none;
  border: 1px solid #43A6C6;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.App-header button:hover {
  color: #a3f7bf;
  border-color: #a3f7bf;
}

.App h1, .App h2 {
  color: white;
}

.App p {
  line-height: 1.6;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

.App-link {
  color: #43A6C6;
}

.App-icon {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 150px;
  animation: App-logo-spin infinite 20s linear;
}

.mailto-link {
  color: #43A6C6;
}

@media screen and (max-width: 600px) {
  .App p {
    font-size: 16px;
  }

  .App h1, .App h2, .App-header button {
    font-size: 24px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
