body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  position: relative; /* Added to position the icon relative to the body */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.App-header,
.App-intro,
.App-projects,
.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  width: 100%;
}

.App h1, .App h2 {
  color: white;
}

.App p {
  line-height: 1.6;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

.App-link {
  color: #43A6C6; /* changed the link color */
}

/* Added to position the icon and make it spin */
.App-icon {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 150px; /* Set the width of the image */

  animation: App-logo-spin infinite 20s linear;
}

@media screen and (max-width: 600px) {
  .App p {
    font-size: 16px;
  }

  .App h1, .App h2 {
    font-size: 24px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
